html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #5da7a4;
}

.main {
	width: 100%;
	height: 100%;
}

#front {
	display: block;
	background-color: #f9faed;
	box-shadow: 5px 5px 8px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
}

.controls {
	position: absolute;
	z-index: 5;
	left: 45%;
	bottom: 2%;
	translate(-45%, -2%);
}

button {
	width: 50px;
	height: 50px;
	box-shadow: 1px 1px 3px;
	border-radius: 5px;
	border: none;
	outline: none;
	margin-right: 20px;
}

.clear {
	background: url('reload-4x.png'), #f9faed;
	background-position: center;
	background-repeat: no-repeat;
}

.reveal {
	background: url('eye-4x.png'), #f9faed;
	background-position: center;
	background-repeat: no-repeat;
}

@media screen and (max-width: 800px) {
	.controls {
		left: 35%;
		translate(-35%, -2%);
	}
}
